<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/mystyle.css">

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>

    <div id="app">
        <div class="row mt-5">
            <div class="col-12 col-lg-8 mx-auto  text-center">

                <div class="row my-3">
                    <div class="col-8"></div>
                    <div class="col-4 mr-0">
                        <button type="button" class="btn btn-secondary d-inline-block w-100 p-2" @click="openModal('new')">新增產品</button>
                    </div>

                </div>

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="row  table-secondary">

                            <th class="col-2">產品分類</th>
                            <th class="col-2">產品名稱</th>
                            <th class="col-2">產品原價</th>
                            <th class="col-2">產品售價</th>
                            <th class="col-2">是否啟用</th>
                            <th class="col-2">編輯 / 刪除</th>
                        </tr>
                    </thead>
                    <tbody class="mytable">

                        <tr class="row " v-for="(item, i) in products" :key="i">
                            <td class="col-2">
                                {{ item.category }}
                            </td>
                            <td class="col-2">
                                {{ item.title }}
                            </td>
                            <td class="col-2">
                                {{ item.origin_price }}
                            </td>
                            <td class="col-2">
                                {{ item.price }}
                            </td>

                            <!-- 啟用 -->
                            <td class="col-2" v-if="item.is_enabled">
                                <div class="form-check form-switch text-center">
                                    <input class="form-check-input d-inline-block mx-0" type="checkbox" :id="i" checked="">
                                    <label class="form-check-label d-inline-block mx-0 text-success" :for="i">已啟用
                                    </label>
                                </div>
                            </td>

                            <!-- 未啟用 -->
                            <td class="col-2" v-else="item.is_enabled">
                                <div class="form-check form-switch">
                                    <input class="form-check-input d-inline-block mx-0 " type="checkbox" :id="i">
                                    <label class="form-check-label d-inline-block mx-0 text-secondary" :for="i">已啟用">未啟用</label>
                                </div>
                            </td>


                            <td class="col-2">
                                <button type="button" class="btn btn-outline-secondary d-inline-block btn-sm mx-2" @click="openModal('edit',item)">編輯</button>
                                <button type="button" class="btn btn-outline-primary d-inline-block btn-sm mx-2" @click="openModal('delete', item)">刪除</button>
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>
        </div>

        <!-- Modal開始 -->
        <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel">
                            <span v-if="isNew">新增產品內容</span>
                            <span v-else>編輯產品內容</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">

                        <div class="col-12 col-lg-4">
                            <ul>
                                <li><label for="">主要圖片位置</label></li>
                                <li><input class="w-100" type="text" v-model="tempProduct.imageUrl" placeholder="請輸入圖片網址"></li>
                                <li><img class="img-fluid" :src="tempProduct.imageUrl" alt=""></li>

                            </ul>



                            <ul v-for="(item,i) in tempProduct.imagesUrl" :key="i">
                                <li><label for="">圖片網址</label></li>
                                <li><input class="w-100" type="text" v-model="tempProduct.imageUrl"></li>
                                <li><img class="img-fluid" :src="tempProduct.imageUrl" alt=""></li>
                            </ul>
                        </div>

                        <div class="col-12 col-lg-8">
                            <div class="row">
                                <div class="col-12 my-1">
                                    <label class="d-block" for="">名稱</label>
                                    <input type="text" class="w-100" v-model="tempProduct.title">
                                </div>
                                <div class="col-6 my-1">
                                    <label for="">分類</label>
                                    <input type="text" class="w-100" v-model="tempProduct.category">
                                </div>
                                <div class="col-6 my-1">
                                    <label for="">單位</label>
                                    <input type="text" class="w-100" v-model="tempProduct.unit">
                                </div>
                                <div class="col-6 my-1">
                                    <label for="">原價</label>
                                    <input type="Number" class="w-100" v-model="tempProduct.origin_price">
                                </div>
                                <div class="col-6 my-1">
                                    <label for="">售價</label>
                                    <input type="Number" class="w-100" v-model="tempProduct.price">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 my-1">
                                    <label class="d-block" for="">產品描述</label>
                                    <textarea name="" id="" cols="60" rows="3" v-model="tempProduct.description"></textarea>
                                </div>
                                <div class="col-12 my-1">
                                    <label class="d-block" for="">說明內容</label>
                                    <textarea name="" id="" cols="60" rows="3" v-model="tempProduct.content"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="checkbox" name="" id="" v-model="tempProduct.is_enabled">是否啟用
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1" aria-labelledby="delProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-secondary text-white">
                        <h5 id="delProductModalLabel" class="modal-title text-white">
                            <span>刪除產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal('delete')"></button>
                    </div>
                    <div class="modal-body">
                        是否刪除
                        <strong class="text-danger">{{ tempProduct.title }}</strong> 商品(刪除後將無法恢復)。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @click="closeModal('delete')">
                取消
              </button>
                        <button type="button" class="btn btn-outline-primary" @click="delProduct()">
                確認刪除
              </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal結束 -->

    </div>


</body>
<script>
    const obj = Vue.createApp({
        data() {
            return {
                website: {
                    url: 'https://vue3-course-api.hexschool.io',
                    path: 'floya'
                },
                products: [],
                isNew: true,
                tempProduct: {
                    imagesUrl: [],
                },

            }
        },
        methods: {
            getData() {
                const url = `${this.website.url}/api/${this.website.path}/products`;

                axios.get(url)
                    .then(res => {
                        if (res.data.success) {
                            this.products = JSON.parse(JSON.stringify(res.data.products));
                            console.log(this.products);
                        } else {
                            alert(res.data.message);
                        }

                    }).catch((err) => {
                        console.log(err);
                    })
            },
            openModal(isNew, item) {

                console.log(this.tempProduct);

                if (isNew == "new") {
                    this.isNew = true;
                    // productModal.show();
                } else
                if (isNew == "edit") {
                    this.isNew = false;
                    // productModal.show();
                } else if (isNew === 'delete') {
                    this.tempProduct = {...item
                    };
                    delProductModal.show();
                }

            },
            closeModal(isNew) {

                if (isNew === "new") {
                    // productModal.hide();
                } else if (isNew === "edit") {
                    // productModal.hide();
                } else if (isNew === 'delete') {
                    delProductModal.hide()
                }
            },
            addProduct() {

                const url = `${this.website.url}/api/${this.website.path}/admin/product`;

                axios.post(url, this.tempProduct)
                    .then(res => {
                        if (res.data.success) {

                            alert(res.data.message);
                            this.getData();
                        } else {
                            alert(res.data.message);
                        }

                    }).catch((err) => {
                        console.log(err);
                    })
            },
            delProduct() {
                const url = `${this.website.url}/api/${this.website.path}/admin/product/${this.tempProduct.id}`;

                axios.delete(url)
                    .then((res) => {
                        if (res.data.success) {
                            delProductModal.hide();
                            alert(res.data.message);
                            this.getData();
                        } else {
                            alert(res.data.message);
                        }
                    })
                    .catch((err) => {
                        console.log(err);
                    })
            },

        },
        mounted() {
            const token = document.cookie.replace(/(?:(?:^|.*;\s*)hexToken\s*=\s*([^;]*).*$)|^.*$/, '$1');

            if (!token) {
                alert("您尚未登入，請重新登入!")
                window.location = `index.html`;
            }

            //只需要打一次，以後只要有請求就會自動帶入
            axios.defaults.headers.common['Authorization'] = token;

            delProductModal = new bootstrap.Modal(document.getElementById('delProductModal'), {
                keyboard: false
            });

            productModal = new bootstrap.Modal(document.getElementById('productModal'), {
                keyboard: false
            });

            this.getData();
        }
    }).mount("#app ");
</script>

</html>